*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {

    margin: 0 auto;
    font-size: 18px;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    width: 100vw;
    flex-wrap: wrap;
    
}

section div {
    flex: 50%;
    padding: 2em;
}


header {
    background: darkgrey;
    padding-top: 20px;

}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: chocolate;
}
ul {
display: flex;

}

li,a {
    list-style-type: none;
    padding: 1rem;
}

section:nth-child(odd) {
    background:lightblue;
}

footer {
    background: grey;
}